# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: acecb3f7ab380c1bd30fe3a37d411974d9eafd48a9f1eb242ace1d0153d776636cea24cf472aab52dcad54ae980598c89ecc57b1e156012c3abe1193b5ff33b2

test:
  secret_key_base: 8bd14c9768735ea459dcf7c8724f91589dc5fd94ae6d28f82e86ec182c9a2ad067b39b1bec619e67778409212bd76788beabdbdb3e07f999ded829d80f84ffce

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
