// Place all the styles related to the prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    margin: 30px auto;
    &.wide-top {
        margin-top: 50px;
    }
    &.wide-bottom {
        margin-bottom: 50px;
    }
    &.narrow-top {
        margin-top: 3px;
    }
    &.narrow-bottom {
        margin-bottom: 3px;
    }
}

#average {
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
    border: solid;
    color: #04BECF;
    height: 100px;
    width: 85%;
    margin: 0 auto;
}

#price {
    text-align: center;
    font-size: 350%;
    color: red;
    padding-top: 35px;
}